#hsMain {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    min-height: 100%;
}

#hsDiv {
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
}

#hsBt {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    border-color: blueviolet;
}

#imgRef {
    position: relative;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

#mainForm {
    width: 500px;
    border-color: red;
}

#hsImg {
    width: 500px;
    height: 300px;

}

#credits {
    left: 50%;
    bottom: 0%;
    overflow: hidden;
}

#cImg {
    width: 100%;
}

.carousel {
    overflow: hidden;
    top: 40%;
    bottom: 0%;
    margin: auto;
    position: relative;
}

.carousel-item {
    overflow: hidden;
}

.carousel .glyphicon-chevron-right {
    display: none;
}

#about {
    float: left;
    position: relative;
}

#welcome {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
    font-family: Lucida Handwriting;
    font-size: 50px;
}